python-dotenv==1.0.0
langchain==0.0.206
openai==0.27.8
tiktoken==0.4.0
ipykernel==6.23.1 # IPython kernel for running jupyter notebook locally
azure-search-documents==11.4.0a20230509004 --index-url=https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/ 
azure-identity==1.13.0
